{% extends ('base.html.twig') %}
{% block body %}
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{{ asset(item.img) }}" alt="..." width="150" height="150" />
                <h1 class="text-white fs-3 fw-bolder">{{ item.NGO }}</h1>
                <p class="text-white-50 mb-0">A {{ item.type }} NGO</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>{{ item.NGO }} Description : </h2>
                        <p class="mb-0">{{ item.Description }}</p>
                    </div>
                    <div class="col-lg-6">
                        <h2>Total Commulé : </h2>
                        <p class="mb-0">{{ total }} DT</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
