{% extends 'base.html.twig' %}
{% block body %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ asset(item.img) }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">ID: {{ item.id }}</div>
                        <h1 class="display-5 fw-bolder">{{ item.name }}</h1>
                        <div class="fs-5 mb-5">
                            <span>${{ item.price }}</span>
                        </div>
                        <p class="lead">{{ item.point }} Points per Donation</p>
                        <p>{{ item.Description }}</p>
                        <div class="d-flex">
                            <form action="{{ path('commande') }}/item.id" method="post">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                                <br>
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Donate
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
